language: php

sudo: false

php:
  - 7.1
  - 7.2

before_install:
  - pecl install swoole
  - composer self-update

install:
  - composer update

script:
  - vendor/bin/phpunit

cache:
  directories:
    - $HOME/.composer/cache
